<% if user_signed_in? %>
<p style="color: green"></p>

<h1>Friend List</h1>
<table class="table table-striped table-hover table-bordered">
<thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Twitter</th>
      <th>User Id</th>
      <th colspan=" "></th>
    </tr>
    </thead>
<tbody>
  <% @friends.each do |friend| %>
    <tr>
        <td><%= link_to friend.first_name + ' ' + friend.last_name, friend %></td>
      <td><%= friend.email %></td>
      <td><%= friend.phone %></td>
      <td><%= friend.twitter %></td>
      <td><%= friend.user_id %></td>
      <td><%= link_to "Remove Friend", friend, method: :delete, class:'btn btn-outline-danger btn-sm'  %></td>


  <% end %>
  </tr>
</tbody>
</table>
<%= link_to "New friend", new_friend_path, class:"btn btn-success" %>

<% else %>

<h1>Hello World!</h1>
<p>This is my Second rails page</p>
<%end%>
